
@keyframes hw5{ /*creates the animation for super slick*/
    from {width: 25px;}
    to {width: 475px;}
}
#logo{ 
    width: 475px;
    animation: hw5 5s; /* made animation last 5 seconds*/
}
body{
    font-family: 'Poppins', serif;
    background: #f1f1f1;
    background-image: url("../images/concrete_seamless.png"); /* introduces background image from images folder*/
}
header{ /* puts header items into columns and centers them*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_links{ /* lines up first letter of all links*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
a:visited{ /* makes links stay same color*/
    color: #0000FF;
}
.card > header{ /* selects header after card class*/
    background: #288088;
    border: 2px solid #45adad;
    padding: 20px 0px 20px 0px;
    border-radius: 50px 50px 0px 0px
}
.card{/* initial width is set by flex-basis*/
    border-radius: 50px 50px 0px 0px;
    flex-basis: 450px;
}
.pricing{ /* makes pricing sit under each other by wrapping, and centers them*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery img{ /*applies these properties to imgs in gallery class*/
    border: 10px solid #50c7c7;
    margin: 10px;
    width: 300px;
}
.gallery{ /* makes gallery images change as you make the screen larger or smaller. */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
@media screen and (min-width: 900px){  /* sets styles for view with min-width of 900px*/
    header{
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        justify-content: space-between;
    }
    .nav_links{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .card{
        flex-basis: 275px;
    }
    .pricing{
        display: flex;
        align-items: center;
    }
    body > header{ /* selects headers after each body*/
        position: sticky;
        top: 0;
        align-self: flex-start;
    }
}
@media (prefers-reduced-motion){ /* sets styles for those who prefer reduced motion*/
    #logo{
        width:475px;
        animation: none;
    }
}
@media print{ /* sets styles for print view*/
    body{
        font-family: Arial, Helvetica;
        background: #f1f1f1;
        background-image: none;
    }
    /* nav{
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-around;
    } */
    nav{/* makes nav items 100% width*/
        width: 100%;
    }
    .nav_links{
        display: flex;
        flex-direction: row;
        justify-content: space-around; /* puts large space between links to spread across the page*/
    }
    .pricing{ /* puts pricing tabs in line with each other*/
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
    }
    .card{ /* adds border and makes width 325px for the cards*/
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }
    #gallery, .gallery{ /* removes all contents of gallery class and id*/
        display: none;
    }
    .card li:nth-child(even)::after{ /* adds thumbs up after every even li in card class*/
        content: "\01F44D"
    }
}
